  /*Linea de estilo sobre posicionamiento de el menu de perfil*/
  
  .barIz{
    margin-top: 0px;
    margin-left: 10px;
     width: 150px;
 }

.Letras{
    margin-top: -350px;
    margin-left: 200px;
}

.text{
    margin-left: 200px;
    color: #fcfcfc;
}
.text2{
    color: white;
}


.bt-offcanvas{
    margin-top: -2200px;
    margin-left: 10px;
     width: 150px;
}
.offcanvas{
    background: linear-gradient(to right, #4ef67d,#cf3a3a);
}
.sizeletra{
    font-size: 20px;
}